<p>Departments</p>
<p><input type="button" [routerLink]="['/department']" value="Add new Department" /></p>
<table class="table table-stiped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Department Name</th>
      <th>Department Code</th>
    </tr>
  </thead>
  <tbody>
    @for (department of (departments$ | async); track $index){
    <tr>
      <td><a [routerLink]="['/department', department.id]">{{ department.id }}</a></td>
      <td>{{ department.name }}</td>
      <td>{{ department.deptCode }}</td>
    </tr>
}
  </tbody>
</table>