<p><b>Courses</b></p>
<p>Availability Key</p>
<table>
  <tr>
    <td>Full</td>
    <td>=</td>
    <td>Course may easily be offered with multiple sections at all times of the year</td>
  </tr>
  <tr>
    <td>Limited</td>
    <td>=</td>
    <td>Course may only have one section or only be offered during part of the year; scheduling conflicts likely</td>
  </tr>
  <tr>
    <td>Rare</td>
    <td>=</td>
    <td>Not enough professors to offer this course on a reliable basis; more professors strongly recommended!</td>
  </tr>
  <tr>
    <td>Unavailable</td>
    <td>=</td>
    <td>There are no valid professors teaching this course!</td>
  </tr>
</table>
<p><input type="button" [routerLink]="['/course']" value="Add new Course" /></p>
<table class="table table-stiped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Department</th>
      <th>Course Title</th>
      <th>Credits</th>
      <th>Availability</th>
    </tr>
  </thead>
  <tbody>
    @for (course of (courses$ | async); track $index){
    <tr>
      <td><a [routerLink]="['/course', course.id]">{{ course.id }}</a></td>
      <td>{{ course.department.name }}</td>
      <td>{{ course.department.deptCode + "-" + course.courseNumber + " " + course.name }}</td>
      <td>{{ course.credits }}</td>
      <td>{{ course.availability }}</td>
    </tr>
}
  </tbody>
</table>