<p><b>Professors</b></p>
<p>Workload Status Key</p>
<table>
  <tr>
    <td>Light Schedule</td>
    <td>=</td>
    <td>Professor has full contribution to courses taught; Part-time cannot have Light Schedule</td>
  </tr>
  <tr>
    <td>Heavy Schedule</td>
    <td>=</td>
    <td>Professor contributes half towards courses taught</td>
  </tr>
  <tr>
    <td>Burnout!</td>
    <td>=</td>
    <td>Professor is too overworked to contribute to courses taught</td>
  </tr>
</table>
<p><input type="button" [routerLink]="['/professor']" value="Add new Professor" /></p>
<table class="table table-stiped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Department</th>
      <th>Name</th>
      <th>Part Time</th>
      <th>Workload Status</th>
    </tr>
  </thead>
  <tbody>
    @for (professor of (professors$ | async); track $index){
    <tr>
      <td><a [routerLink]="['/professor', professor.id]">{{ professor.id }}</a></td>
      <td>{{ professor.department.name }}</td>
      <td>{{ professor.firstName + ' ' + professor.lastName }}</td>
      <td>{{ professor.partTime }}</td>
      <td>{{ professor.workloadStatus }}</td>
    </tr>
}
  </tbody>
</table>